{{ block "main-content" . }}

<p class="text-center text-muted">You have {{ .ImageCount }} {{ if eq .ImageCount 1 }} image {{ else }} images {{ end }} stored on your host.</p>
<table class="table">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Repository</th>
        <th scope="col">Tag</th>
        <th scope="col">Size</th>
        <th scope="col">Created</th>
    </thead>
    <tbody>
        {{ range .Images }}
        <tr>
            <td scope="row">{{ .ID }}</td>
            <td scope="row">{{ .Repository }}</td>
            <td scope="row">{{ .Tag }}</td>
            <td scope="row">{{ .Size }}</td>
            <td scope="row">{{ .Created }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>


{{ end }}