{{ block "main-content" . }}

<p class="text-center text-muted">You have {{ .NetworkCount }} {{ if eq .NetworkCount 1 }} networks {{ else }} networks {{ end }} set up on your hosts.</p>
<table class="table table-hover">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Driver</th>
    </thead>
    <tbody>
        {{ range .Networks }}
        <tr>
            <td scope="row">{{ .ID }}</td>
            <td scope="row">{{ .Name }}</td>
            <td scope="row">{{ .Driver }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>


{{ end }}