{{ block "main-content" . }}

<p class="text-center text-muted">You have {{ .NodeCount }} {{ if eq .NodeCount 1 }} node {{ else }} nodes {{ end }} deployed on your swarm.</p>
<table class="table">
    <thead>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Hostname</th>
        <th scope="col">Role</th>
        <th scope="col">Availability</th>
    </thead>
    <tbody>
        {{ range .Nodes }}
        <tr>
            {{ if eq .Status "ready" }}
            <td scope="row" class="text-center text-success" data-toggle="tooltip" data-placement="top" title="ready">&#9679;</td>
            {{ else if eq .Status "down" }}
            <td scope="row" class="text-center text-danger" data-toggle="tooltip" data-placement="top" title="down">&#9679;</td>
            {{ else if eq .Status "disconnected" }}
            <td scope="row" class="text-center text-warning" data-toggle="tooltip" data-placement="top" title="disconnected">&#9679;</td>
            {{ else }}
            <td scope="row" class="text-center text-secondary" data-toggle="tooltip" data-placement="top" title="{{ .Status }}">&#9679;</td>
            {{ end }}
            <td scope="row">{{ .ID }}</td>
            <td scope="row">{{ .Hostname }}</td>
            <td scope="row">{{ .Role }}</td>
            <td scope="row">{{ .Availability }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>


{{ end }}