{{ block "main-content" . }}

<p class="text-center text-muted">You have {{ .ServiceCount }} {{ if eq .ServiceCount 1 }} service {{ else }} services {{ end }}  deployed on your swarm.</p>
<table class="table table-hover">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Replicas</th>
        <th scope="col">Last update</th>
    </thead>
    <tbody>
        {{ range .Services }}
        <tr>
            <td scope="row">{{ .ID }}</td>
            <td scope="row">{{ .Name }}</td>
            <td scope="row">{{ .Image }}:<span class="text-muted">{{ .ImageTag }}</span></td>
            {{ if eq .InstanceMode "Global" }}
            <td scope="row"><span class="text-muted">global</span></td>
            {{ else }}
            <td scope="row">{{ .Instances }} <span class="text-muted">(replicated)</span></td>
            {{ end }}
            <td scope="row">{{ .LastUpdate }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>


{{ end }}